* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: rgb(29, 28, 28);
}

main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
}

p {
    color: rgb(122, 118, 118);
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 10px;
}

#body {
    width: 800px;
    margin: 40px auto;
    border: 1px solid rgba(251, 247, 247, 0.93);
    background-color: rgba(251, 247, 247, 0.93);
    padding: 20px;
}

.header-paragraph {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-bottom: 10px;
    color: rgb(122, 118, 118);
    font-size: 0.6em;
    font-weight: 600;
}

/* .main-div {
    margin-bottom: 20px;
} */